.session-length {
  display: flex;
  align-items: center;
  gap: 10px;
}

.session-length p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09),
    0 4px 4px rgba(0, 0, 0, 0.09), 0 8px 8px rgba(0, 0, 0, 0.09),
    0 16px 16px rgba(0, 0, 0, 0.09), 0 32px 32px rgba(0, 0, 0, 0.09);
}

.session-length button {
  height: 30px;
}

.session-length-parent {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.session-length-parent h1 {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09),
    0 4px 4px rgba(0, 0, 0, 0.09), 0 8px 8px rgba(0, 0, 0, 0.09),
    0 16px 16px rgba(0, 0, 0, 0.09), 0 32px 32px rgba(0, 0, 0, 0.09);
}

.pomodoro-controllers {
  transition: 0.3s ease;
  cursor: pointer;
}

.pomodoro-controllers:hover {
  transform: scale(1.1);
}

.pomodoro-controllers:active {
  transform: scale(0.9);
}
