.pomodoro-clock-timer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 200px;
  margin: 0;
  color: white;
  transition: 0.5s ease;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09),
    0 4px 4px rgba(0, 0, 0, 0.09), 0 8px 8px rgba(0, 0, 0, 0.09),
    0 16px 16px rgba(0, 0, 0, 0.09), 0 32px 32px rgba(0, 0, 0, 0.09);
}

.pomodoro-clock-timer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.timer-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.timer-parent {
  margin-bottom: 40px;
}

.timer-controllers {
  transition: 0.5s ease;
  cursor: pointer;
}

.timer-controllers:hover {
  transform: scale(1.1);
}

.timer-controllers:active {
  transform: scale(0.9);
}

.timer-parent h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
